<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>

<h1>D3 Examples</h1>
<p>Find me in <a href="https://github.com/hackershipco/rails-d3examples">
    app/views/site/home.html.erb</a></p>
<p>The following are two examples of using d3 in a Rails project, it will get data 
  asynchronously from the back end using jQuery and then create a graph with d3.</p>
<p>Nothing fancy here, the server has two actions that return data, one site/array and 
  site/json, as you might guess, they return an array and json respectively.</p>


<h2>Data from /array</h2>
<div id="graph1"></div>
<h2>Data from /json</h2>
<div id="graph2"></div>

<script>

</script>
